@use "./_colours"

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    // font-family: $font-stack;
    background-color: colours.$background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 1rem;
  }