
  $primary-color: #7aadc5;
  $secondary-color: #c1b1ce;
  $tertiary-color: #f9e5de;
  $background-color: #d1d9ef;
  $accent-color: #6c97b4;
  $base-font-size: 16px;
  $base-font-type: "Courier New", Courier, Monospace;
  $display-font-type: "Georgia", Georgia, Serif;
