@use "./__media-queries";
@use "./__variables";

.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;

  &__cards {
    width: 90px;
    height: 125px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
  }

  &__cards:hover {
    background-color: #ddd;
  }
}
